body {
	background: linear-gradient(60deg, #006BCC, #108DE5, #24BEFF, #39DAFF, #4DF3FF);
}

.center {
	width: 100%;
	height: 100%;
}

.card{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
	padding: .5% 1%;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
}

.content {
	background-color: #007bff;
	
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	float: left;
	padding-left: 8%;
}

h5 {
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
	background-color: rgba(255,255,255, 0.2);
	border-radius: 3px;
	padding: 1.67em 10%;
	line-height: 1.5;
	font-size: 1em;
}

a {
	color: #000000;
	text-decoration: none;
	font-weight: 500;
}

.arrow {
	float: right;
	width: 8%;
	padding: 1.67em 0%;
	padding-right: 8%;
}

.card:hover{
	background-color: rgba(255,255,255, 0.9);
}

.des {
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%, 0%);
}

/* Footer */
.footer{
	position: absolute;
	bottom: 2%;
	left: 50%;
	width: 2%;
	transform: translate(-50%, 0%);	
}

.footer:hover{
	color: #040404;
}

.top {
	left: 50%;
	transform: translate(-50%, 0%);	
	position: absolute;
	padding: 1%;
}

input{
	display: none;
}

#btn {
	display: none;
}

/* Transition */
.slider {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #000; color: #FFF;
  transition: all 1s;
}

.slider.close {
  top: 100vh;
  height: 0;
}

iframe {
	display: none;
}

#back {
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	position: absolute;
	width: 4%;
	padding: 1%;
}

#thumb {
	max-width: 40%;
	max-height: 30%;
	position: absolute;
	
}

.table-width {
	position: relative;
	padding-top: 25%;
	margin: 0% 33%;
	
}